* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.lineSep {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 90%;
}
.greyBg {
  background-color: rgb(211, 211, 211);
}
.greenBg {
  background-color: rgb(51, 227, 51);
}
.greenText{
    color: rgb(51, 227, 51);
}

/* MAIN */
main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/images/homebg.jpg');
  background-size: cover;
  height: 110vh;
  margin-bottom: 50px;
}

/*MAIN - NAVBAR */
.nav {
  display: flex;
}
.navSELogo {
  margin: 1% 5%;
}
.navLinks {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}
.navLinks a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
.nav-link {
  display: inline;
  padding: 0 25px;
}

/* MAIN - SECTION */
.mainSec {
  display: flex;
  align-items: flex-end;
  padding: 80px;
  height: 90vh;
  color: white;
}
.mainSec .content {
  width: 50%;
}

.mainSec .title {
  font-size: 4rem;
}
.mainSec .parag {
  font-size: 2rem;
  margin: 20px 0;
}
.learnBtn, .navBtn {
  padding: 10px 12px;
  color: white;
  border: 0;
  border-radius: 5px;
}

/* STATS SECTION */
.statsSec {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.statsSec div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 230px;
}
.statTitle {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 20px;
}
.statHyphen {
  font-weight: 800;
  height: 10px;
  font-size: 2rem;
}
.statText {
  font-size: 2rem;
  width: 50%;
  text-align: center;
}

/* SECTIONS */
.sec {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10%;
}
.secImg {
  width: 45%;
  margin-right: 5%;
}
.secTitle {
  font-size: 4rem;
  width: 50%;
}
.secText {
  font-size: 2rem;
  padding: 30px;
}
.secPart {
  width: 40%;
}
.secLink {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  text-decoration: underline;
}

/* PROGRAMS SECTION */
.prgTitle {
  padding: 20px;
  text-align: center;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
}
.prgTitle span {
    color: white;
  width: 40%;
}
.prgs {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.prg1Img {
  padding-right: 20px;
  width: 400px;
  height: 500px;
}
.prg2Img {
  padding-left: 20px;
  width: 400px;
  height: 500px;
}

/* RPS SECTION */
.rpsSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.rpTitle {
  font-size: 2.5rem;
  width: 60%;
  text-align: center;
  margin-bottom: 40px;
}
.rpTitle2 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.rpsImg {
  width: 90%;
  margin-bottom: 50px;
}
.fdbImg {
  width: 50%;
}

/* MEDIA, FUNDING, AND STRATEGIC PARTNERS SECTION */
.contSec {
  padding: 40px 0;
  text-align: center;
  height: 400px;
  width: 100vw;
}
.contTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
.contImg {
  margin: 10px;
}
.fpSec {
  height: 700px;
}
.fpImg {
  height: 500px;
  width: 90%;
}
.spCont {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.spImg {
  width: 350px;
  height: 100px;
}

/* FINAL SECTION */
.finalSec {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.finalSecText {
  text-align: center;
  width: 100%;
}
.finalSecp {
  width: 40%;
}
.finalSecTitle {
  font-size: 3rem;
}
.finalSecText {
  font-size: 3rem;
}
.finalSecBtn {
  margin-top: 30px;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  background-color: black;
  color: white;
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  flex-wrap: wrap;
  flex-basis: 100px;
}
.crText {
  font-weight: 700;
}
.icon{
  width:30px;
  height:30px;
  margin:0 5px;
}


/* MEDIA QUERIES  */
@media only screen and (max-width: 800px){
  .sec{
    flex-direction: column;
  }
  .secPart{
    width:100%;
    padding: 20px;
  }
  .medSec{
    height:600px;
  }
  footer{
    flex-direction: column;
  }
  .prg1Img, .prg2Img{
    width:100%;
  }
  .nav{
    display: block;
  }
  .navLinks li a{
    display: none;
  }
  .mainSec .content{
    width: 100%;
  }
}